{% extends "notes/base.html" %}

{% block body %}

<h1>{{request.user}}'s Dashboard</h1>


Add Note

<form id="note-form"  method="post">
    {% csrf_token %}
    <input type="text" id="title" name="title">
    <textarea id="content" name="content"></textarea>
    <button type="submit">Create</button>
</form>
     

Pinned Notes

<div id="pinned-notes">
</div>


All Notes

<div id="all-notes">
    {% for note in notes %}

        <div class="note" data-id="{{ note.id }}">

            <h3>{{ note.title }}</h3>

            <p>{{ note.content }}</p>

            <a href="{% url 'update_note' note.id %}">Edit</a>
            <button class="delete-btn">Delete</button>
        </div>

    {% endfor %}
</div>

<input type="text" id="search" placeholder="Search note...">
<a href="{% url 'logout' %}">Logout</a>
{% endblock %}

